*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 90px;
    background-color: rgb(201, 0, 0);
    color: white;
    border-bottom: 1px ridge black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header > p{
    margin: 0px 30px;
    font-size: 20px;
}
nav{
    margin: 0px 30px;
}
nav > a{
    color: rgb(210, 210, 210);
    text-decoration: none;
    padding: 0px 20px;
}
a:hover{
    text-decoration: underline;
    color: white;
}
h1, h2{
    font-size: 50px;
    text-align: center;
}

section#capa{
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
    background-image: linear-gradient(to bottom, rgba(255, 212, 159, 0.842) 90%, rgba(255, 244, 230, 0.721))
}
article#introducao{
    width: 550px;
}
div{
    width: fit-content;
}
img{
    width: 500px;
    border-radius: 5px;
}

section#segunda{
    background-color: rgba(255, 244, 230, 0.721);
    padding-bottom: 20px;
}
section#alunos{
    max-width: 1175px;
    min-width: min-content;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article.amostra{
    background-color: white;
    width: 350px;
    height: 500px;
    border: 1px ridge black;
    border-radius: 5px;
    margin: auto;
}

img.alunos{
    width: 310px;
    height: 200px;
    margin: 20px;
}
p.paragrafos{
    margin: 0px 20px;
    font-size: 20px;
}
button.botao{
    width: 280px;
    height: 50px;
    background-color: rgb(201, 0, 0);
    color: white;
    font-size: 22px;
    border-radius: 10px;
    margin: 20px 35px;
    cursor: pointer;
}

footer{
    background-color: rgb(201, 0, 0);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 90px;
    text-align: center;
    color: white;
}
